{% extends "base.html" %} {% block title %}Create a Post{% endblock %} {% block
content %}
<div class="mt-4">
  <div class="container">
    <form method="POST" action="">
      {{ form.hidden_tag() }}
      <div class="form-row">
        <div class="col-md-8 mb-3">
          <!-- Adjust column sizes as needed -->
          <label for="{{ form.title.id }}">{{ form.title.label }}</label>
          {{ form.title(class="form-control", size=90) }}
        </div>
        <div class="col-md-4 mb-3">
          <label for="{{ form.category.id }}">{{ form.category.label }}</label>
          {{ form.category(class="form-control") }}
        </div>
      </div>
      <div class="mb-3">
        <label for="{{ form.content.id }}">{{ form.content.label }}</label>
        {{ form.content(class="form-control", cols=32, rows=5) }}
      </div>
      <div>{{ form.submit(class="btn btn-primary") }}</div>
    </form>
  </div>
</div>
{% endblock %} {% block scripts %}
<script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>
<script>
  CKEDITOR.replace("content");
</script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
{% endblock %}
