<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forum</title>
    <link rel="stylesheet" href="../static/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital@1&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>
  </head>

  <body>
    <header>
      <!--NavBar Section-->
      <div class="navbar">
        <nav class="navigation hide" id="navigation">
          <span class="close-icon" id="close-icon" onclick="showIconBar()"
            ><i class="fa fa-close"></i
          ></span>
          <ul class="nav-list">
            <li class="nav-item"><a href="./forums">Forums</a></li>
            <li class="nav-item"><a href="./posts">Posts</a></li>
            <li class="nav-item"><a href="./detail">Detail</a></li>
            <li class="nav-item">
              <a href="./register"><span>Login/Sign up</span></a>
            </li>
          </ul>
        </nav>
        <a class="bar-icon" id="iconBar" onclick="hideIconBar()"
          ><i class="fa fa-bars"></i
        ></a>
        <div class="brand">My Forum</div>
      </div>
    </header>

    <div class="container">
      <h1>Create New Post</h1>
      <form method="POST" action="">
        {{ form.hidden_tag() }}
        <p>
          {{ form.title.label }}<br />
          {{ form.title(size=32) }}<br />
          {% for error in form.title.errors %}
          <span style="color: red">{{ error }}</span>
          {% endfor %}
        </p>
        <p>
          {{ form.content.label }}<br />
          {{ form.content(cols=32, rows=4) }}<br />
          {% for error in form.content.errors %}
          <span style="color: red">{{ error }}</span>
          {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
      </form>
    </div>
    <!-- <textarea name="content" id="content" cols="32" rows="4"></textarea>

    <script>
      CKEDITOR.replace("content", {
        // Add plugins for emojis and image upload
        filebrowserUploadUrl: "/upload/", // URL to the server-side function that will handle uploads
      });
    </script> -->
    <!-- <div class="container">
      <textarea id="content" name="content"></textarea>
      <script>
        CKEDITOR.replace("content");
      </script>
    </div> -->
  </body>
</html>
