<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forum</title>
    <link rel="stylesheet" href="../static/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital@1&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>
    <style>
      .form-row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
      }
      .form-row > p {
        flex: 1; /* Flex grow */
      }
      .title-field {
        flex: 2; /* Takes twice the space of one part */
      }
      .category-field {
        flex: 1;
      }
      textarea {
        width: 100; /* Ensures textarea takes the full width of its container */
      }
    </style>
  </head>

  <body>
    <header>
      <!--NavBar Section-->
      <div class="navbar">
        <nav class="navigation hide" id="navigation">
          <span class="close-icon" id="close-icon" onclick="showIconBar()"
            ><i class="fa fa-close"></i
          ></span>
          <ul class="nav-list">
            <li class="nav-item"><a href="./forums">Forums</a></li>
            <li class="nav-item"><a href="./posts">Posts</a></li>
            <li class="nav-item"><a href="./profile">User Profile</a></li>
            <li class="nav-item">
              <a href="./register"><span>Login/Sign up</span></a>
            </li>
          </ul>
        </nav>
        <a class="bar-icon" id="iconBar" onclick="hideIconBar()"
          ><i class="fa fa-bars"></i
        ></a>
        <div class="brand">My Forum</div>
      </div>
    </header>

    <div style="background-color: rgb(35, 34, 33)">
      <div class="container">
        <form method="POST" action="">
          {{ form.hidden_tag() }}
          <div class="form-row">
            <p class="title-field">
              {{ form.title.label }}<br />{{ form.title(size=90) }}
            </p>
            <p class="category-field">
              {{ form.category.label }}<br />{{ form.category() }}
            </p>
          </div>
          <p>
            {{ form.content.label }}<br />{{ form.content(cols=32, rows=5) }}
          </p>
          <p style="display: true">{{ form.submit() }}</p>
        </form>
        <script>
          CKEDITOR.replace("content");
        </script>
      </div>
    </div>

    <script src="../static/js/main.js"></script>
  </body>
</html>
