<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forum</title>
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital@1&display=swap" rel="stylesheet">
</head>

<body>
  <header>
    <!--NavBar Section-->
    <div class="navbar">
      <nav class="navigation hide" id="navigation">
        <span class="close-icon" id="close-icon" onclick="showIconBar()"><i class="fa fa-close"></i></span>
        <ul class="nav-list">
          <li class="nav-item"><a href="./forums">Home</a></li>
          <li class="nav-item"><a href="{{ url_for('view_post') }}">All Posts</a></li>
          <li class="nav-item"><a href="./profile">User Profile</a></li>
          <li class="nav-item"><a href="./register">Login/Sign up</a></li>
        </ul>
      </nav>
      <a class="bar-icon" id="iconBar" onclick="hideIconBar()"><i class="fa fa-bars"></i></a>
      <div class="brand">SpeedSters<span class="brand-description">A community for car lovers</span></div>
    </div>
    <!--SearchBox Section-->
    <div class="search-box">
      <div>
        <select name="" id="">
          <option value="Everything">Everything</option>
          <option value="Titles">Titles</option>
          <option value="Descriptions">Descriptions</option>
        </select>
        <input type="text" name="q" placeholder="search ...">
        <button><i class="fa fa-search"></i></button>
      </div>
    </div>
    <div class="container">
      <!--Navigation-->
      <div class="navigate">
        <span><a href="">MyForum - Forums</a> >> <a href="">random subforum</a> >> <a href="">random
            topic</a></span>
      </div>

      <div class="topic-container">
        <!-- Original thread -->
        <div class="head">
            <div class="authors">Author: {{ post.user.username }}</div>
            <div class="content">Topic: {{ post.title }}</div>
        </div>
    
        <div class="body">
            <div class="authors">
                <div class="username"><a href="#">{{ post.user.username }}</a></div>
                <!-- to be updated -->
                <!-- <div>{{ post.user.role if post.user.role else 'Member' }}</div> -->
                <img src="{{ post.user.profile_image_url }}" alt="Profile Image">
                <!-- <div>Posts: <u>{{ post.user.post_count }}</u></div>
                <div>Points: <u>{{ post.user.points }}</u></div> -->
            </div>
            <div class="content">
                {{ post.content|safe }} <!-- Renders the HTML code as actual HTML -->
                <br><hr>
                {{ post.created_at.strftime('%Y-%m-%d %H:%M') }}
            </div>
          
        <!-- Display existing replies -->
        <div class="comments-container">
          {% for reply in post.replies %}
          <div class="comment">
              <div class="author">{{ reply.user.username }} says:</div>
              <div class="reply-content">{{ reply.content|safe }}</div>
              <div class="reply-date">{{ reply.created_at.strftime('%Y-%m-%d %H:%M') }}</div>
          </div>
          {% endfor %}
        </div>

        <!-- Form to submit a new reply -->
        <form method="POST" action="{{ url_for('submit_reply', post_id=post.id) }}">
          <textarea name="reply_content" required></textarea>
          <button type="submit">Reply</button>
        </form>

            <footer>
              <span>test</span>
            </footer>
            <script src="../static/js/main.js"></script>
        </body>


</html>